@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


.hero-img{
    background-size: cover;
}

.font-kece {
    font-family: 'Parisienne', cursive;
}

.text-orange{
    color: #F3A05C;
}
.text-babayang{
    text-shadow: 0.5px 1px rgba(0, 0, 0, .15);
}

.tarasparan-tp-kd{
    background-color: rgba(255, 255, 255, 0.5);
}

.text-n{
    font-size: 8rem;
    padding-bottom: 13px;
}
.box-music{
    right: 0;
    bottom: 40px;
}
section{
    min-height: 100vh;
}
body{
    overflow-x: hidden;
}
.bg-tok{
    background-color: rgba(245, 179, 125, 0.2);
}

.paper{
    padding: 10px;
    background: white;
    width: 20rem;
    height: 22rem;
}
.paper-1{
    transform: rotate(10deg);
}
.paper-2{
    transform: rotate(-5deg);
}
.paper-foto{
    width: 15rem;
    height: 15rem;
    margin: 20px auto auto auto;
    background-size: cover;
}
.map{
    height: 75%;
    width: 75%;
    overflow: hidden;
}